
executeMethods  app=pymesh template=mosfet.mesh.template
executeMethods  app = charon  template = mosfet.nlp.template options = decomp
executeMethods  app =charon  template= mosfet.sg.template 

executeProcs    4

dakotaInput     dakota_charon_normal_LHS.in 

response        thresholdVoltage filename=tri_1e16.dat  current=0.001
response        currentAtVoltage filename = tri_1e16.dat  voltage=1.0 name = currentAtVoltage1.0
response        currentAtVoltage filename = tri_1e16.dat  voltage=1.5 name = currentAtVoltage1.5
response 	betaGain data=continuous filename=tri_1e16.dat voltage = 1.5 name = gain

